---
layout: archive
title: "Professional Services"
permalink: /services/
author_profile: true
---

<head>
  <title>Services - Haipeng Cai</title>
  <style>
  img {
    max-width: 100%;
  }
  img.thumbnail {
    width: 60px;
    height: 50px;
  }
  </style>
  </head>
  
  <div>
  <span style="font-style:normal">
  <span style="color:rgb(51,51,51);font-weight:bold">
  Conference Organizing Committee Membership:
  </span>
  <!--
  <li> Program Co-chair, <a href="https://conf.researchr.org/track/mobilesoft-2020/mobilesoft-2020-student-research-competition">MobileSoft SRC 2020</a></li>
  <li> Program Co-chair, <a href="https://mobilesoftconf.org/2019/index.php/student-research-competition/">MobileSoft SRC 2019</a></li>
  -->
  <li> Journal First Co-Chair, IEEE/ACM International Conference on Software Engineering (ICSE), <a href="https://conf.researchr.org/track/icse-2025/icse-2025-journal-first-papers">2025</a></li>
  <li> Program Vice Co-Chair, IEEE International Conference on Internet of Things (iThings), <a href="https://ieee-cybermatics.org/2024/ithings/oc.php">2024</a></li>
  <li> Regional Co-Chair, Annual Workshop on Cyber Security in High Performance Computing (S-HPC), <a href="https://hpc.pnl.gov/S-HPC/2023/">2023</a></li>
  <li> General Co-Chair, Annual Workshop on Cyber Security in High Performance Computing (S-HPC), <a href="https://hpc.pnl.gov/S-HPC/2022/">2022</a></li>
  <li> Program Co-chair, IEEE/ACM MOBILESoft, Tools and Datasets track, <a href="https://conf.researchr.org/home/mobilesoft-2023">2023</a></li>
  <li> Program Co-chair, IEEE/ACM MOBILESoft, NIER track, <a href="https://conf.researchr.org/home/mobilesoft-2022">2022</a></li>
  <li> Program Co-chair, IEEE/ACM MOBILESoft, SRC track, <a href="https://conf.researchr.org/home/mobilesoft-2020">2020</a></li>
  <li> Program Co-chair, IEEE/ACM MOBILESoft, SRC track, <a href="https://mobilesoftconf.org/2019/">2019</a></li>
  <br>
  
  <span style="color:rgb(51,51,51);font-weight:bold">
  Conference Technical Program Committee Membership:
  </span>
  <!--
  <li><font color='black'><a href="https://2019.ase-conferences.org/">ASE 2019</a></font></li>
  <li><font color='black'><a href="https://src.acm.org/">ACM SRC 2019</a></font> </li>
  -->
  <li>IEEE/ACM International Conference on Software Engineering (ICSE), 2025</li>
  <li>ACM Conference on Computer and Communications Security (CCS), 2023, 2024</li>
  <li>ISOC Network and Distributed System Security Symposium (NDSS), 2023, 2024, 2025</li>
  <li>ACM SIGSOFT International Symposium on Software Testing and Analysis (ISSTA), 2024, 2025</li>
  <li>ACM Joint European Software Engineering Conference and Symposium on the Foundations of Software Engineering (ESEC/FSE), 2023, 2024, 2025</li>
  <li>ACM Joint European Software Engineering Conference and Symposium on the Foundations of Software Engineering (ESEC/FSE) - Ideas, Visions and Reflections, 2022, 2023</li>
  <li>AAAI Conference on Artificial Intelligence (AAAI) Student Program, 2024</li>
  <li>AAAI Conference on Artificial Intelligence (AAAI) Senior PC, 2023, 2024</li>
  <li>IEEE/ACM International Conference on Software Engineering (ICSE) -- SRC track, 2024</li>
  <li>IEEE/ACM International Conference on Software Engineering (ICSE) - Poster track, 2023</li>
  <li>International Conference on Evaluation and Assessment in Software Engineering (EASE) - Vision and Emerging Results, 2023, 2024</li>
  <li>International Conference on Mobile Software Engineering and Systems (MOBILESoft) - Vision track, 2023</li>
  <li>IEEE/ACM International Conference on Mobile Software Engineering and Systems (MOBILESoft) - Tool Demos and Mobile Apps, 2022</li>
  <li>The European Conference on Machine Learning and Principles and Practice of Knowledge Discovery in Databases (ECML-PKDD), 2020</li>
  <li>IEEE/ACM International Conference on Automated Software Engineering (ASE), 2019, 2024</li>
  <li>ACM Student Research Competition (ACM SRC) - Grand Finals Judge, 2019, 2020, 2021</li>
  <li>EAI International Conference on Security and Privacy in New Computing Environments (SPNCE), 2020, 2021, 2022</li>
  <li>IEEE Secure Development Conference (SecDev), 2018</li>
  <li>International Conference on Software Analysis, Evolution, and Reengineering (SANER) - ERA Track, 2020</li>
  <li>International Conference on Software Maintenance and Evolution (ICSME) - Tool Track, 2017, 2018</li>
  <li>International Conference on Program Comprehension (ICPC) - ERA Track, 2020</li>
  <li>International Conference on Program Comprehension (ICPC) - Negative Results Track, 2019</li>
  <li>International Workshop on Software Security from Design to Deployment (SEAD), collocated with ESEC/FSE, 2019, 2020</li>
  <li>International Workshop on Advances in Mobile App Analysis (A-Mobile), collocated with ASE, 2018, 2019, 2020, 2021, 2022</li>
  <li>International Symposium on Advanced Security on Software and Systems (ASSS), collocated with EuroS&P, 2022</li>
  <li>International Workshop on Program Debugging (IWPD), 2015, 2016, 2017</li>
  <li>International Conference on Software Engineering Advances (ICSEA), 2015, 2016, 2017, 2018, 2019</li>
  <li>International Conference on Virtual Reality and Visualization (ICVRV), 2016</li>
  <!--
  <li>International Conference on Software Engineering and Applications (SOEA), 2017</li>
  <li>International Conference on Software Engineering (SOENG), 2017, 2018</li>
  <li>5th International Conference on Software Engineering & Trends (SE), 2017</li>
  <li>Third International Conference on Software Security (ICSS), 2017</li>
  <li>International Conference on Fundamentals and Advances in Software Systems Integration (FASSI), 2015, 2016</li>
  -->
  <br>
  
  <span style="color:rgb(51,51,51);font-weight:bold">
  Conference External Reviewer:
  </span>
  <li>IEEE International Conference on Software Analysis, Evolution, and Reengineering (SANER), 2020</li>
  <li>Annual Computer Security Applications Conference (ACSAC), 2019</li>
  <li>ACM Conference on Security and Privacy in Wireless and Mobile Networks (WiSec), 2017 </li>
  <li>ACM Conference on Computer and Communications Security (CCS), 2016</li>
  <li>Annual Computer Security Applications Conference (ACSAC), 2016</li>
  <li>IEEE Conference on Communications and Network Security (CNS), 2016</li>
  <li>ACM Symposium on Information, Computer and Communications Security (AsiaCCS), 2016</li>
  <li>ACM Conference on Data and Applications Security (CODASPY), 2016</li>
  <li>International Conference on Software Maintenance and Evolution (ICSME) - Tool Track, 2015</li>
  <li>International Computers, Software & Applications Conference (COMPSAC), 2014</li>
  <li>International Workshop on Program Debugging (IWPD), 2012</li>
  <br>
  
  <span style="color:rgb(51,51,51);font-weight:bold">
  Journal Editorial Board Membership:
  </span>
  <li> Associate Editor, <a href="https://dl.acm.org/journal/tosem/editorial-board">ACM TOSEM</a>, 2023 - </li>
  <li> Associate Editor, Frontiers in Computer Science (Computer Security section), 2023 - </li>
  <li> Associate Editor, <a href="https://www.journals.elsevier.com/expert-systems-with-applications/editorial-board">Expert Systems with Applications (ESWA)</a>, 2022 - </li>
  <li> Board of Distinguished Reviewers, <a href="https://dl.acm.org/journal/tosem">ACM TOSEM</a>, 2019 - </li>
  <li> Review Board, <a href="https://www.springer.com/journal/10515">Automated Software Engineering</a>, 2021 - </li>
  <li> Guest editor, Frontiers in Computer Science, Computer Security section, special edition on <a href="https://www.frontiersin.org/research-topics/24744/intelligent-defenses-for-secure-mobile-software-and-systems">mobile security</a>, 2021 - 
  <li> Guest editor, MDPI/Symmetry, Computer Science section, special edition on <a href="https://www.mdpi.com/journal/symmetry/special_issues/Sustainable_Security_Solutions_Mobile_Applications_Symmetry">sustainable security for mobile apps</a>, 2022 -
  <br>
  <br>
  
  <span style="color:rgb(51,51,51);font-weight:bold">
  Journal Referee (<a href="https://publons.com/researcher/1480169/haipeng-cai/peer-review/">Publons</a>):
  </span>
  <li>ACM Transactions on Software Engineering and Methodology (TOSEM), 2018, 2019, 2020, 2021, 2022, 2023, 2024</li>
  <li>IEEE Transactions on Software Engineering (TSE), 2018, 2019, 2021, 2022, 2023, 2024</li>
  <li>IEEE Transactions on Information Forensics and Security (TIFS), 2017, 2020, 2021, 2022, 2023, 2024</li>
  <li>IEEE Transactions on Dependable and Secure Computing (TDSC), 2016, 2017, 2020, 2021, 2022, 2023, 2024</li>
  <li>ACM Transactions on Privacy and Security (TOPS), 2024</li>
  <li>IEEE Transactions on Reliability (TRE), 2016, 2018, 2019, 2023</li>
  <li>IEEE Transactions on Parallel and Distributed Systems (TPDS), 2017, 2018, 2019</li>
  <li>IEEE Transactions on Network and Service Management (TNSM), 2021, 2023</li>
  <li>IEEE Transactions on Knowledge and Data Engineering (TKDE), 2021</li>
  <li>IEEE Transactions on Services Computing (TSC), 2022</li>
  <li>IEEE Transactions on Computers (TC), 2023</li>
  <li>ACM Transactions on Sensor Networks (TOSN), 2021</li>
  <li>IEEE Transactions on Network Science and Engineering (TNSE), 2022, 2023</li>
  <li>IEEE Transactions on Sustainable Computing (TSUSC), 2022</li>
  <li>IEEE Transactions on Industrial Cyber-Physical Systems (TICPS), 2023</li>
  <li>IEEE Transactions on Emerging Topics in Computational Intelligence (TETCI), 2023</li>
  <li>ACM Computing Surveys (CSUR), 2021, 2022, 2023, 2024</li>
  <li>ACM Digital Threats: Research and Practice (DTRAP), 2019, 2020, 2021, 2022</li>
  <li>Information and Software Technology (IST), 2018</li>
  <li>Software: Practice and Experience (SPE), 2022, 2023</li>
  <li>Software Quality Journal (SQJ), 2023</li>
  <li>Journal of Software: Evolution and Process (JSME), 2022, 2023</li>
  <li>Automated Software Engineering (AUSE), 2020, 2021, 2022, 2023</li>
  <li>Empirical Software Engineering (EMSE), 2016, 2017, 2023</li>
  <li>Computers & Security (COSE), 2019, 2021, 2022, 2023</li>
  <li>Transactions on Emerging Telecommunications Technologies (ETT), 2023</li>
  <li>Journal of Computer Virology and Hacking Techniques (JICV), 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023</li>
  <li>Journal of King Saud University - Computer and Information Sciences (JKSUCIS), 2018, 2020, 2021, 2022, 2023</li>
  <li>Journal of Information Science and Engineering (JISE), 2018, 2020</li>
  <li>Journal of Information Security and Applications (JISAS), 2020, 2021, 2023</li>
  <li>Journal of Systems and Software (JSS), 2016, 2017, 2019, 2020, 2021</li>
  <li>Journal of Parallel and Distributed Computing (JPDC), 2021</li>
  <li>Journal of Intelligent & Fuzzy Systems (IFS), 2022</li>
  <li>Journal of Computer Security (JCS), 2022</li>
  <li>Journal of Computer Science and Technology (JCST), 2023</li>
  <li>Frontiers of Information Technology & Electronic Engineering (FITEE), 2017</li>
  <li>Human-centric Computing and Information Sciences (HCIS), 2018, 2019</li>
  <li>Expert Systems with Applications (ESWA), 2018, 2019, 2020, 2021, 2022, 2023</li>
  <li>Knowledge and Information Systems (KAIS), 2017</li>
  <li>IEEE Access, 2018, 2019, 2020, 2021, 2023</li>
  <li>Security and Communication Networks (SCN), 2020, 2021, 2022, 2023</li>
  <li>Mobile Information Systems (MIS), 2020, 2021</li>
  <li>IET Image Processing (IPR), 2020</li>
  <li>IET Networks (NET), 2023</li>
  <li>IET Software (SEN), 2023</li>
  <li>IET Communications (COM), 2023</li>
  <li>Signal Processing Letters (SPL), 2020</li>
  <li>Concurrency and Computation: Practice and Experience (CPE), 2021, 2022, 2023</li>
  <li>Wireless Communications and Mobile Computing (WCMC), 2019, 2020, 2021, 2022, 2023</li>
  <li>Soft Computing (SOCO), 2021</li>
  <li>Jordanian Journal of Computers and Information Technology (JJCIT), 2019, 2020, 2023</li>
  <li>Chinese Journal of Electronics (CJE), 2022</li>
  <li>International Journal of Automation and Computing (IJAC), 2021</li>
  <li>The Journal of Supercomputing (SUPE), 2021</li>
  <li>Journal of Combinatorial Optimization (JOCO), 2023</li>
  <li>IEEE Systems Journal (ISJ), 2021, 2022, 2023</li>
  <li>Wiley/Security and Privacy (SPY), 2021, 2022, 2023</li>
  <li>Wiley/Computational Intelligence (COIN), 2021, 2022, 2023</li>
  <li>Computational Intelligence and Neuroscience (CIN), 2022, 2023</li>
  <li>Applied Computational Intelligence and Soft Computing (ACISC), 2022, 2023</li>
  <li>IEEE Canadian Journal of Electrical and Computer Engineering (CJECE), 2023</li>
  <li>Cybernetics and Systems (UCBS), 2023</li>
  <li>IEEE Network Magazine, 2021</li>
  <li>Big Data (BIG), 2022</li>
  <li>IT Professional (ITPro), 2023</li>
  <li>SoftwareX, 2023</li>
  <li>Big Data Mining and Analytics, 2023</li>
  <li>Blockchain: Research and Applications (BCRA), 2023</li>
  <li>Formal Aspects of Computing (FAC), 2023</li>
  <li>Expert Systems (EXSY), 2023</li>
  <li>MDPI/Symmetry, 2019, 2020, 2022</li>
  <li>MDPI/Sensors, 2019, 2020</li>
  <li>MDPI/Entropy, 2019, 2020, 2023</li>
  <li>MDPI/Applied Sciences, 2021, 2023</li>
  <li>MDPI/Data, 2021</li>
  <li>MDPI/Electronics, 2021</li>
  <li>MDPI/Information, 2021</li>
  <li>MDPI/Informatics, 2023</li>
  <li>Medicine (MD), 2023</li>
  <br>
  
  <span style="color:rgb(51,51,51);font-weight:bold">
  Journal reviewer:
  </span>
  <li>Computers & Security (COSE), 2015</li>
  <li>The Computer Journal (COMPJ), 2014</li>
  <li>Software Quality Journal (SQJ), 2014</li>
  <li>IEEE Transactions on Reliability (TRE), 2014</li>
  <li>Science of Computer Programming (SCP), 2014</li>
  <li>Journal of Object Technology (JOT), 2013</li>
  <li>Software Testing, Verification and Reliability (STVR), 2013</li>
  <li>Journal of Systems and Software (JSS), 2012</li>
  </span>
  </div>
  <div><br>
  </div>
  
  <!--
  <div><span style="font-style:normal">
  <a href="https://sites.google.com/site/hpcaius">Previous Projects</a>
  (<a href="https://sourceforge.net/u/haipengcai/profile/" title="SourceForge projects">Code repository</a>)
  </span></div>
  <div><span style="font-style:normal">
  <a href="links.html">Useful Links</a>
  </span></div>
  <p>
  -->

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


<script type="text/javascript">
var sc_project=10604826; 
var sc_invisible=1; 
var sc_security="10996eea"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="website
statistics" href="http://statcounter.com/free-web-stats/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/10604826/0/10996eea/1/"
alt="website statistics"></a></div></noscript>
