<!-- start custom analytics snippet -->

  <!-- Start of StatCounter Code for Default Guide -->
  <script type="text/javascript">
  var sc_project=10604826; 
  var sc_invisible=1; 
  var sc_security="10996eea"; 
  var scJsHost = (("https:" == document.location.protocol) ?
  "https://secure." : "http://www.");
  document.write("<sc"+"ript type='text/javascript' src='" +
  scJsHost+
  "statcounter.com/counter/counter.js'></"+"script>");
  </script>
  <noscript><div class="statcounter"><a title="website
  statistics" href="http://statcounter.com/free-web-stats/"
  target="_blank"><img class="statcounter"
  src="http://c.statcounter.com/10604826/0/10996eea/1/"
  alt="website statistics"></a></div></noscript>
  <!-- End of StatCounter Code for Default Guide -->
  <!--
  <p>Last updated: December 2016<p/>
  -->

<!-- end custom analytics snippet -->